

.spinner {
    display: block;
    width: 25px;
    height: 25px;
    margin-inline:auto;
    border-radius: 50%;
    border:3px solid #0097B0;
    clip-path: inset(0% 0% 50% 50%);
    padding:16px;
    animation:spinReveal linear  0.75s infinite;
    position:relative;
}


.idle {
    display: none;
}

@keyframes spinReveal {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  
}